<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Observador</title>
  <link rel="stylesheet" th:href="@{/style/style-animales-form.css}">
</head>
<body class="modern-page">

<header class="header">
  <h1>Agregar Observador</h1>
  <nav class="nav">
    <ul>
      <li><a href="/observadores" class="btn-regresar">Regresar</a></li>
    </ul>
  </nav>
</header>

<main class="contenido">
  <section class="tarjeta">
    <h2>Formulario de Nuevo Observador</h2>

    <form th:action="@{/observadores/guardarObser}" th:object="${observador}" method="post" class="formulario">
      
      <div class="campo">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" placeholder="Nombre completo" required />
      </div>
      
      <div class="campo">
        <label>Apellido:</label>
        <input type="text" th:field="*{apellido}" placeholder="Apellido" required />
      </div>

      <div class="campo">
        <label>Correo:</label>
        <input type="email" th:field="*{correo}" placeholder="correo@ejemplo.com" required />
      </div>

      <div class="campo">
        <label>País:</label>
        <select th:field="*{pais}" required>
          <option value="" disabled selected>Selecciona un país</option>
          <option th:each="pais : ${paises}" th:value="${pais}" th:text="${pais}"></option>
        </select>
      </div>

      <div class="campo">
        <label>Institución:</label>
        <input type="text" th:field="*{institucion}" placeholder="Institución a la que pertenece" required />
      </div>

      <div class="campo">
        <label>Contraseña:</label>
        <input type="password" th:field="*{contrasena}" placeholder="Ingresa tu contraseña" required />
      </div>

      <input type="hidden" name="rol" value="observador"/>

      <div class="botones-formulario">
        <button type="submit" class="boton agregar">Guardar</button>
        <a href="/observadores" class="boton cancelar">Cancelar</a>
      </div>

    </form>
  </section>
</main>

<footer class="footer">
  <p>© 2025 Sistema de Avistamientos</p>
</footer>

</body>
</html>
