<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Ubicación</title>
  <link rel="stylesheet" th:href="@{/style/style-general.css}">
  <link rel="stylesheet" th:href="@{/style/style-form-obser.css}">
</head>
<body>

<header>
  <h1>Agregar Ubicación</h1>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/ubicaciones" class="activo">Ubicaciones</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="contenido">
    <h2>Formulario de Nueva Ubicacion</h2>
    <form th:action="@{/ubicaciones/guardar}" th:object="${ubicacion}" method="post" class="formulario">
      
      <div class="campo">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" placeholder="Nombre" required />
      </div>
      
      <div class="campo">
        <label>País:</label>
        <input type="text" th:field="*{pais}" placeholder="Pais" required />
      </div>

      <div class="campo">
        <label>Region:</label>
        <input type="text" th:field="*{region}" placeholder="Region" required />
      </div>

      <div class="campo">
        <label>Habitad:</label>
        <input type="text" th:field="*{habitad}" placeholder="Habitad" required />
      </div>

      <div class="botones-formulario">
        <button type="submit" class="boton agregar">Guardar</button>
        <a href="/ubicaciones" class="boton cancelar">Cancelar</a>
      </div>
      
    </form>
  </section>
</main>

<footer>
  <p>© 2025 Sistema de Avistamientos</p>
</footer>

</body>
</html>